.default-container
  %main.l-container.clearfix
    .l-content
      %section.mypage-user-icon
        %a
          %figure
            = link_to "#", class: "img" do
              = image_tag("//static.mercdn.net/thumb/members/984751724.jpg?1423524395",width: "60",height: "60") 
              %h2.bold Kuki
              .mypage-number
                %div
                  評価
                  %span.bold 0
                %div
                  出品数
                  %span.bold 0
      -# タブ
      %section.mypage-tab-container-notification-todo
        %ul.mypage-tabs.tab-group
          %li.tab.is-active
            %h3
              %a お知らせ
          %li.tab
            %h3
              %a やることリスト
        -# 1つ目のタブの中身
        .tab-content.panel.is-show
          %ul#mypage-tab-notification.mypage-item-list.tab-pane.active
            %li
              =link_to "#", class: "mypage-item-link" do
                %figure
                  = image_tag "/images/mercari_profile.png"
                .mypage-item-body
                  .mypage-item-text 【スマホを売ろう！】メルカリなら下取りよりも高く売れる♪いますぐ相場チェック！
                  %time
                    %i.icon-time
                      = fa_icon 'history'
                    %span 3 日前
                %i.icon-arrow-right
                  = fa_icon 'angle-right'
            %li
              =link_to "#", class: "mypage-item-link" do
                %figure
                  = image_tag "/images/mercari_profile.png"
                .mypage-item-body
                  .mypage-item-text 【実は高く売れる！】遊び終わったゲームもバーコードで10秒出品♪
                  %time
                    %i.icon-time
                      = fa_icon 'history'
                    %span 6 日前
                %i.icon-arrow-right
                  = fa_icon 'angle-right'
            %li
              =link_to "#", class: "mypage-item-link" do
                %figure
                  = image_tag "/images/mercari_profile.png"
                .mypage-item-body
                  .mypage-item-text 《CM放送中》参加したら10円分ポイント必ずもらえる！秋フェス開催中♪
                  %time
                    %i.icon-time
                      = fa_icon 'history'
                    %span 7 日前
                %i.icon-arrow-right
                  = fa_icon 'angle-right'
            %li
              =link_to "#", class: "mypage-item-link" do
                %figure
                  = image_tag "/images/mercari_profile.png"
                .mypage-item-body
                  .mypage-item-text 《参加ボタンを押すだけ！》10円分のポイントが"必ず"もらえる！メルカリ秋フェスが開催中♪
                  %time
                    %i.icon-time
                      = fa_icon 'history'
                    %span 10 日前
                %i.icon-arrow-right
                  = fa_icon 'angle-right'

            %li
              =link_to "#", class: "mypage-item-link" do
                %figure
                  = image_tag "/images/mercari_profile.png"
                .mypage-item-body
                  .mypage-item-text 事務局から個別メッセージ「【お詫び】《メルカリ秋フェス》開催をお知らせする通知について」
                  %time
                    %i.icon-time
                      = fa_icon 'history'
                    %span 11 日前
                %i.icon-arrow-right
                  = fa_icon 'angle-right'
          %li.mypage-go-list
            =link_to "一覧を見る", "#"
        -# 2つ目のタブの中身
        .tab-content.panel
          %ul#mypage-tab-todo.mypage-item-list.tab-pane
            %li.mypage-item-not-found.bold 現在、やることリストはありません

      %section.mypage-tab-container
        %h2.mypage-tab-head 購入した商品
        %ul.mypage-tabs.tab-group2
          %li.tab2.is-active2
            %h3
              %a
                取引中
          %li.tab2
            %h3
              %a
                過去の取引
        .tab-content.panel2.is-show2
          %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane2
            %li.mypage-item-not-found.bold 取引中の商品がありません

        .tab-content.panel2
          %ul#mypage-tab-transaction-old.mypage-item-list.tab-pane2
            %li.mypage-item-not-found.bold 過去に取引した商品がありません
            
    .l-side
      %nav.mypage-nav	
        %ul.mypage-nav-list	
          %li	
            = link_to "/users/#{current_user.id}",class: "mypage-nav-list-item" do	
              ="マイページ"	
              %i.icon-arrow-right	
                = fa_icon 'angle-right'	

          %li	
            = link_to "#",class: "mypage-nav-list-item" do	
              ="お知らせ"	
              %i.icon-arrow-right	
                = fa_icon 'angle-right'	
              %span.mypage-nav-number	
                7	

          %li	
            = link_to "#",class: "mypage-nav-list-item" do	
              ="やることリスト"	
              %i.icon-arrow-right	
                = fa_icon 'angle-right'	

          %li	
            = link_to "#",class: "mypage-nav-list-item" do	
              ="いいね！一覧"	
              %i.icon-arrow-right	
                = fa_icon 'angle-right'	

          %li	
            = link_to new_item_path,class: "mypage-nav-list-item" do	
              ="出品する"	
              %i.icon-arrow-right	
                = fa_icon 'angle-right'	

          %li	
            = link_to "#",class: "mypage-nav-list-item" do	
              ="出品した商品 - 出品中"	
              %i.icon-arrow-right	
                = fa_icon 'angle-right'	

          %li	
            = link_to "#",class: "mypage-nav-list-item" do	
              ="出品した商品 - 取引中"	
              %i.icon-arrow-right	
                = fa_icon 'angle-right'	

          %li	
            = link_to "#",class: "mypage-nav-list-item" do	
              ="出品した商品 - 売却済み"	
              %i.icon-arrow-right	
                = fa_icon 'angle-right'	

          %li	
            = link_to "#",class: "mypage-nav-list-item" do	
              ="購入した商品 - 取引中"	
              %i.icon-arrow-right	
                = fa_icon 'angle-right'	

          %li	
            = link_to "#",class: "mypage-nav-list-item" do	
              ="購入した商品 - 過去の取引"	
              %i.icon-arrow-right	
                = fa_icon 'angle-right'	

          %li	
            = link_to "#",class: "mypage-nav-list-item" do	
              ="ニュース一覧"	
              %i.icon-arrow-right	
                = fa_icon 'angle-right'	

          %li	
            = link_to "#",class: "mypage-nav-list-item" do	
              ="評価一覧"	
              %i.icon-arrow-right	
                = fa_icon 'angle-right'	

          %li	
            = link_to "#",class: "mypage-nav-list-item" do	
              ="ガイド"	
              %i.icon-arrow-right	
                = fa_icon 'angle-right'	

          %li	
            = link_to "#",class: "mypage-nav-list-item" do	
              ="お問い合わせ"	
              %i.icon-arrow-right	
                = fa_icon 'angle-right'	

        %h3.mypage-nav-head メルペイ	
        %ul.mypage-nav-list	
          %li	
            = link_to "#",class: "mypage-nav-list-item" do	
              ="売上・振込申請"	
              %i.icon-arrow-right	
                = fa_icon 'angle-right'	

          %li	
            = link_to "#",class: "mypage-nav-list-item" do	
              ="ポイント"	
              %i.icon-arrow-right	
                = fa_icon 'angle-right'	

        %h3.mypage-nav-head 設定	
        %ul.mypage-nav-list	
          %li	
            = link_to "/users/#{current_user.id}/profiles/#{current_user.id}/edit",class: "mypage-nav-list-item" do	
              ="プロフィール"	
              %i.icon-arrow-right	
                = fa_icon 'angle-right'	
          %li	
            = link_to "#",class: "mypage-nav-list-item" do	
              ="発送元・お届け先住所変更"	
              %i.icon-arrow-right	
                = fa_icon 'angle-right'	
          %li	
            = link_to  paying_card_index_path,class: "mypage-nav-list-item" do	
              ="支払い方法"	
              %i.icon-arrow-right	
                = fa_icon 'angle-right'	
          %li	
            = link_to "#",class: "mypage-nav-list-item" do	
              ="メール/パスワード"	
              %i.icon-arrow-right	
                = fa_icon 'angle-right'	
          %li	
            = link_to identification_users_path,class: "mypage-nav-list-item" do	
              ="本人情報"	
              %i.icon-arrow-right	
                = fa_icon 'angle-right'	
          %li	
            = link_to "#",class: "mypage-nav-list-item" do	
              ="電話番号の確認"	
              %i.icon-arrow-right	
                = fa_icon 'angle-right'	
          %li	
            = link_to logout_path,class: "mypage-nav-list-item" do	
              ="ログアウト"	
              %i.icon-arrow-right	
                = fa_icon 'angle-right' 