- content_for :title do
  本人情報の登録
= render partial: 'shared/header'
- breadcrumb :identification
= render partial: 'render/breadcrumbs'
.wrapper-id
  .id-container
    .lside
      = render 'users/sidebar'
    .box-id
      .header-id
        .header-id__title-user
          本人情報の登録

      .section
        .section__main
          .section__main__content
            .section__main__content__description
              お客さまの本人情報をご登録ください。
              %br/
              登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          .section__main__upload
          =link_to "#", class:"link-to-upload" do
            .section__main__upload__box
              本人確認書類のアップロードについて
              %i.fa.fa-chevron-right
        .section__main-profile
          .section__main-profile__box-category
            お名前
          .section__main-profile__box
            .section__main-profile__box__area
              .section__main-profile__box__area__name
                メルカリ 太郎
          .section__main-profile__box-category
            お名前カナ
          .section__main-profile__box
            .section__main-profile__box__area
              .section__main-profile__box__area__name-kana
                メルカリ タロウ
          .section__main-profile__box-category
            生年月日
          .section__main-profile__box
            .section__main-profile__box__area
              .section__main-profile__box__area__birth
                2000/1/1

        .section__form
          .section__form__group
            .section__form__group__postal-code
              郵便番号
            .section__form__group__any-box
              任意
            .section__form__group__text-field
              %input.postal-code{name: "postal-code", placeholder: "例） 1234567", type: "text", value: "" }
            .section__form__group__prefectures
              都道府県
            .section__form__group__any-box
              任意
            .section__form__group__prefectures-select
              .section__form__group__prefectures-select__wrap
                %select.select
                  %option{value: "--"} --
                  %option{value: "北海道"} 北海道
                  %option{value: "青森県"} 青森県
                  %option{value: "岩手県"} 岩手県
                  %option{value: "宮城県"} 宮城県
                  %option{value: "秋田県"} 秋田県
                  %option{value: "山形県"} 山形県
                  %option{value: "福島県"} 福島県
                  %option{value: "東京都"} 東京都
                  %option{value: "神奈川県"} 神奈川県
                  %option{value: "埼玉県"} 埼玉県
                  %option{value: "千葉県"} 千葉県
                  %option{value: "茨城県"} 茨城県
                  %option{value: "栃木県"} 栃木県
                  %option{value: "群馬県"} 群馬県
                  %option{value: "山梨県"} 山梨県
                  %option{value: "新潟県"} 新潟県
                  %option{value: "長野県"} 長野県
                  %option{value: "富山県"} 富山県
                  %option{value: "石川県"} 石川県
                  %option{value: "福井県"} 福井県
                  %option{value: "愛知県"} 愛知県
                  %option{value: "岐阜県"} 岐阜県
                  %option{value: "静岡県"} 静岡県
                  %option{value: "三重県"} 三重県
                  %option{value: "大阪府"} 大阪府
                  %option{value: "兵庫県"} 兵庫県
                  %option{value: "京都府"} 京都府
                  %option{value: "滋賀県"} 滋賀県
                  %option{value: "奈良県"} 奈良県
                  %option{value: "和歌山県"} 和歌山県
                  %option{value: "鳥取県"} 鳥取県
                  %option{value: "島根県"} 島根県
                  %option{value: "岡山県"} 岡山県
                  %option{value: "広島県"} 広島県
                  %option{value: "山口県"} 山口県
                  %option{value: "徳島県"} 徳島県
                  %option{value: "香川県"} 香川県
                  %option{value: "愛媛県"} 愛媛県
                  %option{value: "高知県"} 高知県
                  %option{value: "福岡県"} 福岡県
                  %option{value: "佐賀県"} 佐賀県
                  %option{value: "長崎県"} 長崎県
                  %option{value: "熊本県"} 熊本県
                  %option{value: "大分県"} 大分県
                  %option{value: "宮崎県"} 宮崎県
                  %option{value: "鹿児島県"} 鹿児島県
                  %option{value: "沖縄県"} 沖縄県
                .fa-down-icon
                  %i.fa.fa-chevron-down

            .section__form__group__city
              市区町村
            .section__form__group__any-box
              任意
            .section__form__group__text-field
              %input.city{name: "city", placeholder: "例） 横浜市緑区", type: "text", value: "" }
            .section__form__group__address
              番地
            .section__form__group__any-box
              任意
            .section__form__group__text-field
              %input.city{name: "address", placeholder: "例） 青山1-1-1", type: "text", value: "" }
            .section__form__group__building
              建物名
            .section__form__group__any-box
              任意
            .section__form__group__text-field
              %input.building{name: "address", placeholder: "例） 柳ビル103", type: "text", value: "" }
        .section__register
        =link_to "#", class:"link-to-register" do
          .section__register__btn
            %i.section__register__btn__box
              登録する

        .section__about
          .section__about__box
          =link_to "#", class:"link-to-about" do
            本人情報の登録について
            %i.fa.fa-chevron-right

= render partial: 'shared/sell-btn'
= render partial: 'shared/app-baner'
= render partial: 'shared/footer'