%header
  %script{src:"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}

%body
.wrapper
  = render partial: 'shared/header'
  - breadcrumb :mypage
  = render partial: 'render/breadcrumbs'
  = render partial: 'users/mypage'
  = render partial: 'shared/sell-btn'
  = render partial: 'shared/app-baner'
  = render partial: 'shared/footer'