
.wrapper
  = render partial: 'shared/header'
  = render partial: 'users/mypage'
  = render partial: 'users/sidebar'
  = render partial: 'shared/sell-btn'
  = render partial: 'shared/app-baner'
  = render partial: 'shared/footer'