.content
  .content-list
    .tag.category
      %h2 人気のカテゴリー
      .tag-list
        %ul 
          %li
            = link_to "#ladyitems" do
              レディース
          %li
            = link_to "#manitems" do
              メンズ
          %li 
            = link_to "#cameraitems" do
              家電・スマホ・カメラ
          %li 
            = link_to "#hobbyitems" do
              おもちゃ・ホビー・グッズ
    .item
      .item-list#ladyitems
        - if @ladyitems.present?
          = render partial: 'shared/item-list', locals: {items: @ladyitems}
      .item-list#manitems
        - if @manitems.present?
          = render partial: 'shared/item-list', locals: {items: @manitems}
      .item-list#cameraitems
        - if @cameraitems.present?
          = render partial: 'shared/item-list', locals: {items: @cameraitems}
      .item-list#hobbyitems
        - if @hobyitems.present?
          = render partial: 'shared/item-list', locals: {items: @hobyitems}
    .tag.brand
      %h2 人気のブランド
      .tag-list
        %ul 
          %li
            = link_to "#" do
              シャネル
          %li
            = link_to "#" do
              ルイヴィトン
          %li 
            = link_to "#" do
              シュプリーム
          %li 
            = link_to "#" do
              ナイキ