.content
  .content-list
    .tag.category
      %h2 人気のカテゴリー
      .tag-list
        %ul 
          %li
            = link_to "#" do
              レディース
          %li
            = link_to "#" do
              メンズ
          %li 
            = link_to "#" do
              家電・スマホ・カメラ
          %li 
            = link_to "#" do
              おもちゃ・ホビー・グッズ
    .item
      - if @ladyitems.present?
        = render partial: 'shared/item-list', locals: {items: @ladyitems}
      - if @manitems.present?
        = render partial: 'shared/item-list', locals: {items: @manitems}
      - if @cameraitems.present?
        = render partial: 'shared/item-list', locals: {items: @cameraitems}
      - if @hobyitems.present?
        = render partial: 'shared/item-list', locals: {items: @hobyitems}
    .tag.brand
      %h2 人気のブランド
      .tag-list
        %ul 
          %li
            = link_to "#" do
              シャネル
          %li
            = link_to "#" do
              ルイヴィトン
          %li 
            = link_to "#" do
              シュプリーム
          %li 
            = link_to "#" do
              ナイキ