%header.header
  .header-inner
    .header-top
      %h1
        = link_to root_path, class: 'header-top__logo' do
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?891577966", class: 'header-top__logo-img', alt: "mercari"      
      = search_form_for @q, url:search_items_path do |f|
        .header-top__logo__search
          = f.search_field :name_cont, class: 'header-top__logo__search__box', id: 'search-query', placeholder: '何かお探しですか？'
          = button_tag type: 'submit', class: 'hidden' do
            %i.fa.fa-search
    .header-navbox
      .left-side
        %ul.side
          %li.li-left
            %h2
              = link_to "#" do
                = fa_icon 'list-ul'
                %span カテゴリーから探す
          %li.li-right
            %h2
              = link_to "#" do
                = fa_icon 'tag'
                %span ブランドから探す 
      .right-side
        %ul.side
          - if current_user
            -# 一時的に設置、マイページ上にログアウトボタンを作成した後で消す
            %li
              %h2
                = link_to logout_path do
                  %span ログアウト
            - unless current_page?(root_path)
              %li
                %h2
                  = link_to "#" do
                    = fa_icon 'heart'
                    %span いいね一覧
            %li
              %h2
                = link_to "#" do
                  = fa_icon 'bell'
                  %span お知らせ
            %li
              %h2
                = link_to "#" do
                  = fa_icon 'check'
                  %span やることリスト
            %li
              %h2
                = link_to user_path(current_user.id), class: 'user-link__signup' do
                  %div.mypage
                    = image_tag 'https://static.mercdn.net/images/member_photo_noimage_thumb.png'            
                  %span マイページ
          - else
            .user-link
              .signup
                = link_to new_user_registration_path, class: 'user-link__signup' do
                  新規会員登録
              .signin
                = link_to login_path, class: 'user-link__signin' do
                  ログイン      