.item-list
  .item-list__name
    %h3 #{items[0].category.name}新着アイテム
    = link_to "もっと見る", "#"
  .item-list__box
    .item-list__box-show
      - items.each do |item|
        .visibility
          = link_to "#" do
            %figure
              %figcaption.name
                %span #{item.name}
              .price
                %span ¥#{item.price.to_s(:delimited)}
                = image_tag item.images[0].name 