= render "shared/single-header"

.wrapper-buy
  .header-buy
    .header-buy__title
      購入内容の確認

  .section-buy
    .section-buy__main
      .section-buy__main__content-item
        .section-buy__main__content-item__photo
          = image_tag "/images/purchase-test.jpg", size: "128x128", alt: "商品写真", class: "item-photo"
        .section-buy__main__content-item__name
          アイテム名
        .section-buy__main__content-item__price-fee-box
          .section-buy__main__content-item__price-fee-box__price
            ¥ 724

          .section-buy__main__content-item__price-fee-box__shipping-fee
            送料込み
      .section-buy__main__point
        .section-buy__main__point__display
          .section-buy__main__point__display__box
            ポイントはありません
      .section-buy__main__price
        .section-buy__main__price__display
          .section-buy__main__price__display__text
            支払い金額
        .section-buy__main__price__display
          .section-buy__main__price__display__fee
            ¥ 724
      %p.error-text 発送先と支払い方法の入力を完了してください。
      %button.gray_btn 購入する

  .section-shipping
    .section-shipping__adress
      .section-shipping__adress__box
        配送先
      .section-shipping__adress__details
        〒000-0000
        %br/
        住所
        %br/
        氏名
      .section-shipping__adress__change
        .section-shipping__adress__change__icon
        = link_to "#", class:"link-to-change" do
          変更する
          %i.fa.fa-chevron-right

  .section-bottom
    .section-bottom__purchase
      .section-bottom__purchase__way
        支払い方法
      .section-bottom__purchase__card-number
        - if @default_card_information.blank?
          %br/
        - else
          -#以下カード情報を表示
          = "**** **** ****" + @default_card_information.last4
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
      .section-bottom__purchase__card-company
        = image_tag "/images/visa.svg", size: "49x15", alt: "カード会社ロゴ", class: "card-logo"
      .section-bottom__purchase__change
        .section-bottom__purchase__change
        = link_to "#", class:"link-to-change" do
          変更する
          %i.fa.fa-chevron-right

= render "shared/single-footer"