.item-detail
  .item-detail-box
    .item-name
      %h1
        = @item.name 
      %p.item-wording 『#{@item.name}』は、#{@item.user.nickname}さんから出品されました。#{@item.category.name}の商品です。
    .item-table
      .item-image
        %figure-main
        =image_tag ("#{@item.images[0].name}")
      .item-profile
        %table{:border => "2"}
          %tr
            %th 出品者
            %td= link_to "#{@item.user.nickname}", "#"
          %tr
            %th カテゴリー
            %td #{@item.category.name}
          %tr
            %th 商品の状態
            %td #{@item.condition}
          %tr
            %th 配送料の負担
            %td #{@item.shipping_fee}
          %tr
            %th 配送の方法
            %td #{@item.shipping_method}
          %tr
            %th 配送元地域
            %td #{@item.shipping_from}
          %tr
            %th 発送日の目安
            %td #{@item.days_before_shipping}

    .item-price
      %span ¥#{@item.price.to_s(:delimited)}
      %span.tax-included (税込)
    - if current_user
      = render partial: 'items/buy-btn'
    .item-content
      %p.item-description  #{@item.description}
