- content_for :title do
  #{@item.name}
-# 以下は表示確認用なので削除してください。
.wrapper
  = render partial: 'shared/header'
  = render partial: 'items/item-detail'
  - if current_user
    = render partial: 'items/buy-btn'
  -# = render partial: 'items/item-comments'
  = render partial: 'items/other-item'
  = render partial: 'shared/app-baner'
  = render partial: 'shared/footer'